/* Extracted styles from HTML files */

/* Force outline none for Webflow elements */
.wf-force-outline-none[tabindex="-1"]:focus {
  outline: none;
}

/* Media queries and animations from index.html */
@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ee9df61b-55b4-7827-e76b-a40bda8579ce"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ef1838e7-ab53-7624-d194-0583624ed2b6"] {
    opacity: 0;
  }
}

/* Logo carousel styles */
.f-logo-carousel {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: carousel-track 14s linear infinite;
}

@keyframes carousel-track {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.f-logo-carousel:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* Media queries from about.html */
@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="61b0a77f-a682-fc5e-d89a-a53da1db0d32"] {
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="61b0a77f-a682-fc5e-d89a-a53da1db0d34"] {
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="61b0a77f-a682-fc5e-d89a-a53da1db0d41"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="df2e7846-e01f-0975-966f-a10cb59a86c1"] {
    opacity: 0;
  }
}

/* Media queries from blog.html */
@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ce9de912-3180-386f-ed49-945791d50dc7"] {
    opacity: 0;
  }
}

/* Media queries from career.html */
@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="c69c04bf-52b3-7850-3c28-bba3b5df9fd3"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0deg, 0);
    -moz-transform: translate3d(0, 0%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0deg, 0);
    -ms-transform: translate3d(0, 0%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0deg, 0);
    transform: translate3d(0, 0%, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0deg, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="c69c04bf-52b3-7850-3c28-bba3b5df9fd6"] {
    border-color: rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="c69c04bf-52b3-7850-3c28-bba3b5df9fd7"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="c69c04bf-52b3-7850-3c28-bba3b5df9fd8"] {
    opacity: 0;
  }
}

/* Media queries from services.html */
@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="1cc7c653-2cc7-b8d0-3eca-3716a4bfbf34"] {
    opacity: 0;
  }
}

/* FAQ icon fix - hide fill paths to show only one plus sign */
/* Hide all paths with fill-opacity="1" (the red fill paths) */
.faq-icon svg path[fill-opacity="1"],
.faq-icon svg path[fill="rgb(255,0,0)"],
.faq-icon svg path[fill*="255"] {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  fill: none !important;
  fill-opacity: 0 !important;
}

/* Target the first path in each nested group which is typically the fill path */
.faq-icon svg g > g > path:first-child,
.faq-icon svg g[transform*="matrix(1,0,0,1"] path:first-child,
.faq-icon svg g[transform*="matrix(0,1,-1,0"] path:first-child {
  display: none !important;
}
